@use "color";
@use "breakpoints";
body {
  font-family: "Monda", "Noto Sans JP", sans-serif;
  color: color.$cl-black;
  background-color: color.$bg-light;

  &.is-fixed {
    overflow: hidden;
  }
}

// button
.button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 10px 6px;
  // width: 117px;
  margin: 0;

  &--border {
    // border: 1px solid color.$white;

    // .button__text {
    //   color: color.$white;
    // }
  }

  // &__nav {
  //   display: flex;
  //   justify-content: center;
  // }

  &__text {
    text-align: center;
    // margin-left: 10px;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: color.$bg-light;
  }
}

// header
.header {
  background-color: color.$bg-light;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  &__container {
    width: 100%;
    position: relative;
  }

  &__logo {
    display: inline-block;
    padding: 14px 24px;
    font-size: 25px;
    color: color.$white;
  }

  &__menu-button {
    border: none;
    position: absolute;
    top: 14px;
    right: 24px;
    width: 32px;
    height: 36px;
    overflow: hidden;
    // color: transparent; // menuの文字を透明にして見えなくする
    background: none;

    span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: color.$white;
      margin-bottom: 5px;
      transition: all 0.3s;
    }
    span:nth-child(1) {
      top: 5px;
    }
    span:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    span:nth-child(3) {
      bottom: 0;
    }
    &.is-checked {
      span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  &__nav {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    background-color: color.$white;
    height: calc(100vh - 86px);
    // border-top: 1px solid color.$white;
    padding-top: 60px;
    height: 350px;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
  }

  &__nav-item {
    margin-top: 24px;
  }
}
// fv
.fv {
  position: relative;

  &__contents {
    position: absolute;
    bottom: 26px;
    left: 0;
    width: 100%;
    height: 209px;
    background: url(../img/sp/bg_fv.png) center center no-repeat;
    background-size: 100% auto;
    padding: 32px;
  }

  // &__heading {
  // }

  // &__heading-main {
  //   display: block; //　縦並びにするため
  //   font-size: 40px;
  //   letter-spacing: 0.01em;
  //   color: color.$white;
  // }

  // &__heading-sub {
  //   margin-top: 20px;
  //   display: block; // 縦並びにするため
  //   font-size: 14px;
  //   color: color.$white;
  // }
}

// section共通クラス
.section {
  padding: 48px 0;

  &__inner {
    padding: 0 32px;
  }

  &__head {
    display: flex;
    flex-direction: column; // 縦並びにするため,子要素にblockを指定しなくてもよくなる
    margin-bottom: 32px;

    &--center {
      text-align: center;
    }
  }

  &__head-main {
    color: color.$white;
    font-size: 40px;
    letter-spacing: 0.01em;
    // display: block; // 縦並びにするため
  }

  &__head-sub {
    color: color.$white;
    font-size: 11px;
    // display: block; // 縦並びにするため
  }

  &__lead-text {
    font-size: 16px;
    line-height: 1.6;
  }

  &__contents {
    margin-top: 40px;
  }
}

// service
.service {
  &__list {
  }

  &__item {
    & + & {
      margin-top: 40px;
    }
  }

  &__item-img {
    text-align: center;
    margin-bottom: 14px;
  }

  &__item-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// works
.works {
  background-color: color.$bg-light;
  &__list {
  }

  &__item {
    & + & {
      margin-top: 40px;
    }
  }

  &__item-img {
    margin-bottom: 12px;
    img {
      box-shadow: 0 4px 15px 0 rgba(color.$cl-black, 0.15);
    }
  }

  &__item-name {
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: bold;
  }

  &__item-link {
    text-decoration: underline;
    font-size: 14px;
  }
}

// about
.about {
  &__container {
  }

  &__img {
    // max-width: 311px;
    margin-bottom: 32px;
    img {
      box-shadow: 0 4px 15px 0 rgba(color.$cl-black, 0.15);
    }
  }

  &__text-container {
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    & + & {
      margin-top: 1em; // １文字分
    }
  }
}

// flow
.flow {
  background-color: color.$bg-light;

  &__list {
    margin-top: 64px;
  }

  &__item {
    position: relative;
    border: 1px solid color.$cl-border;
    padding: 46px 16px 24px;

    & + & {
      margin-top: 46px;
    }
  }

  &__item-num {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    // ↑要素の横幅半分の大きさの分（50％）だけ左に戻す
    font-size: 24px;
    background-color: color.$bg-dark;
    color: color.$white;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-img {
    margin-bottom: 10px;
    text-align: center;
  }

  &__item-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }

  &__item-text {
    font-size: 14px;
    line-height: 1.6;
  }
}

// message
.message {
  &__container {
  }

  &__img {
    margin-bottom: 32px;

    img {
      box-shadow: 0 4px 15px 0 rgba(color.$cl-black, 0.15);
    }
  }

  &__text-contents {
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
  }
}

// contact
.page-bottom {
  color: color.$white;
  margin-top: 40px;

  &__item {
    padding: 10px;

    &--contact {
      // background-color: color.$bg-gray-l;
    }

    &--x {
      // background-color: color.$bg-gray-l;
    }
  }
}

// footer
.footer {
  text-align: center;
  padding: 10px;

  &__copy {
    font-size: 11px;
  }
}

/*----------------------
// pc
-----------------------*/

@include breakpoints.mq(pc) {
  // .wrapper {
  //   display: flex;
  // }

  // .main {
  //   flex-basis: 79.2%; //flexアイテムの幅を指定する
  // }
  .header {
    background-color: color.$bg-light;
    height: 86px;
    // z-index: 999;

    &__container {
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__menu-button {
      display: none;
    }

    &__nav {
      display: block;
      height: auto;
      border-top: none;
      padding-top: 0;
    }

    &__nav-list {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 15px;
    }

    &__nav-item {
      margin-top: 0; // ← スマホ用を打ち消す
    }
  }

  .button {
    transition: background 0.3s color 0.3s, opacity 0.7s;
    // border-radius: 30px;
    &:hover {
      background-color: color.$white;

      .button__text {
        color: color.$bg-dark;
      }
    }

    &--bg {
      color: color.$bg-dark;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .section {
    &__inner {
      max-width: calc(880px + 32px * 2);
      margin: 0 auto;
    }

    &__head {
      margin-bottom: 24px;
    }

    &__head-main {
      font-size: 60px;
    }
  }

  .fv {
    padding-top: 86px;
  }

  .service {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8%;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .works {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8%;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .about {
    &__container {
    }

    &__text-contents {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      // margin-top: 32px;
    }

    &__img {
      max-width: 320px;
      margin-bottom: 32px;
    }

    &__text {
    }
  }

  .flow {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
    }

    &__item {
      & + & {
        margin-top: 0;
      }
    }
  }

  .message {
    &__container {
    }

    &__text-contents {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &__img {
      max-width: 320px;
      margin-bottom: 32px;
    }

    &__text {
    }
  }

  .page-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__item {
      padding: 54px 10px;
    }
  }
}

/*----------------------
// tb
-----------------------*/
@include breakpoints.mq(tb) {
  .section {
    &__head-main {
      font-size: 54px;
    }
  }

  .fv {
    &__contents {
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  .about {
  }

  .flow {
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px 16px;
    }
  }
}
