@charset "UTF-8";
/*================================================================
Chrome/Firefox/Edge/Safariなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  letter-spacing: 0.05em;
  color: #3c301e;
}
@media (width >= 768px) {
  body {
    letter-spacing: 0.05em;
    color: #3c301e;
  }
}

img {
  width: 100%;
}

/* 共通クラス */
.inner {
  padding: 0 40px;
}
@media (width >= 768px) {
  .inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}
.section-heading .section-heading-main {
  display: block;
  font-size: 40px;
}
@media (width >= 768px) {
  .section-heading .section-heading-main {
    font-size: 64px;
  }
}
.section-heading .section-heading-sub {
  display: block;
  font-size: 12px;
}

.section-heading-l {
  color: #fff;
}

.js-menu-img {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed; /* 画面をスクロールしても常に同じ位置に固定される。 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 横方向中央寄せ */
  /* 縦方向中央寄せ */
  z-index: 999; /* 他の要素より前に表示するための指定 */
}
.modal .modal-overlay {
  position: absolute; /*absolute は「position がある親」を探して動く！
それが relative でも fixed でもOK！*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

.modal-contents {
  position: relative;
  max-width: 50%;
  max-height: 50%;
  z-index: 2;
  /* overflow: hidden; */
}
.modal-contents .js-modal-img {
  display: block;
  width: 100%;
  height: 100%;
}

.modal-close {
  position: absolute;
  top: -15px;
  right: -15px;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  z-index: 3;
}

/* header */
a .header-nav-link {
  color: #fff;
  text-decoration: none;
}

.header {
  position: fixed; /*画面上部に固定する指示*/
  top: 0;
  left: 0;
  /* rgbaはrgb（色）＋a（透明度）で指定できる */
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
  /* borderをいっぱいに伸ばす指示 */
  width: 100%;
  text-align: center;
  padding: 12px;
}
@media (width >= 768px) {
  .header {
    padding: 16px;
  }
  .header .header-inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header-logo {
  width: 200px;
  margin: 0 auto;
}
@media (width >= 768px) {
  .header-logo {
    margin: 0;
  }
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px; /*リストの感覚*/
}
@media (width >= 768px) {
  .header-nav-list {
    gap: 40px;
  }
}

.header-nav {
  margin-top: 10px;
}

.header-nav-link {
  color: #fff;
}
@media (width >= 768px) {
  .header-nav-link {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .header-nav-link:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.about {
  padding: 40px 0;
  background-color: #f1eee4;
}
.about .about-img {
  width: 100%;
}
.about .about-text-contents {
  margin-top: 20px;
}
.about .about-text-contents .about-text {
  font-size: 14px;
  line-height: 2;
}
.about .about-text-contents .about-text + .about-text {
  margin-top: 16px;
}
@media (width >= 768px) {
  .about {
    padding: 100px 0;
  }
  .about .about-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-img {
    width: 300px;
  }
  .about .about-text-contents {
    margin-top: 0;
  }
  .about .about-text-contents .about-text {
    font-size: 15px;
  }
  .about .about-text-contents .about-text + .about-text {
    margin-top: 30px;
  }
}

.menu {
  background-color: #f1eee4;
  padding: 80px 0;
}
.menu .menu-item + .menu-item {
  margin-top: 62px;
}
.menu .menu-img {
  width: 100%;
}
.menu .menu-text-contents {
  text-align: center;
  padding: 16px 10px;
}
.menu .menu-text-contents .menu-name-main {
  font-size: 18px;
  display: block;
}
.menu .menu-text-contents .menu-name-sub {
  color: #a98c5f;
  font-size: 12px;
  display: block;
  margin-top: 8px;
}
.menu .menu-text-contents .menu-text {
  font-size: 14px;
  color: #a98c5f;
  margin-top: 16px;
}
@media (width >= 768px) {
  .menu {
    padding: 0 0 100px;
  }
  .menu .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .menu .menu-list .menu-item + .menu-item {
    margin-top: 0;
  }
}

.shop {
  background-image: url(../img/sp/bg-shop.png);
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}
.shop .shop-inner {
  padding: 0 20px;
}
.shop .shop-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 2;
}
@media (width >= 768px) {
  .shop {
    background-image: url(../img/bg-shop.png);
    background-position: center;
    background-size: cover;
    padding: 60px 0;
  }
  .shop .shop-inner {
    max-width: 600px;
    margin: 0 auto;
  }
}

.form {
  margin-top: 40px;
}
.form .form-input {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  padding: 14px;
}
.form .form-submit {
  border-radius: 4px;
  border: none;
  font-family: "Josefin Sans", "Noto Sans JP", sans-serif;
  display: block;
  margin: 10px auto 0;
  width: 120px;
  padding: 12px 10px;
  color: #fff;
  background-color: #a98c5f;
}
.form .form-submit:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}
@media (width >= 768px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .form .form-submit {
    margin-top: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .form .form-submit:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

/* footer */
.footer {
  background-color: #3c301e;
  text-align: center;
  padding-top: 46px;
  color: #fff;
}
.footer .footer-logo {
  width: 200px;
  margin: 0 auto;
}
.footer .footer-text {
  font-size: 12px;
}
@media (width >= 768px) {
  .footer .footer-text {
    margin-top: 12px;
  }
}

.footer-nav-list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding: 0 20px;
}
@media (width >= 768px) {
  .footer-nav-list {
    gap: 40px;
  }
}

.footer-nav-link-text {
  font-size: 12px;
  margin-top: 12px;
}

.sns-img {
  width: 56px;
}

.footer-copy-wrapper {
  border-top: 1px solid rgba(241, 238, 228, 0.25);
  padding: 12px;
  margin-top: 46px;
}
.footer-copy-wrapper .footer-copyright {
  font-size: 12px;
}
@media (width >= 768px) {
  .footer-copy-wrapper .footer-copyright {
    font-size: 13px;
  }
}

#backToTopBtn {
  position: fixed;
  font-weight: bold;
  bottom: 30px;
  right: 30px;
  width: 55px; /* ボタンの幅 */
  height: 55px; /* ボタンの高さ */
  border-radius: 50%; /* 角丸を50%にして丸くする */
  background-color: #fff; /* 背景色を白に */
  color: #333; /* 文字色を黒に近い色に */
  text-align: center; /* テキストを中央揃え */
  line-height: 40px; /* 行の高さをボタンの高さに合わせる */
  font-size: 12px; /* フォントサイズ */
}