/* footer */
@use "color" as *;
@use "page" as *;
@use "sass:map";

.footer {
  background-color: $color-main;
  text-align: center;
  padding-top: 46px;
  color: $color-bg-sub;
  .footer-logo {
    width: 200px;
    margin: 0 auto;
  }
  .footer-text {
    font-size: 12px;

    @include mq(pc) {
      margin-top: 12px;
    }
  }
}
.footer-nav-list {
  margin-top: 40px;
  @include flexCenter;
  gap: 24px;
  padding: 0 20px;

  @include mq(pc) {
    gap: 40px;
  }
}
.footer-nav-link-text {
  font-size: 12px;
  margin-top: 12px;
}
.sns-img {
  width: 56px;
}
.footer-copy-wrapper {
  border-top: 1px solid rgba(241, 238, 228, 0.25);
  padding: 12px;
  margin-top: 46px;

  .footer-copyright {
    font-size: 12px;

    @include mq(pc) {
      font-size: 13px;
    }
  }
}

#backToTopBtn {
  position: fixed;
  font-weight: bold;
  bottom: 30px;
  right: 30px;
  width: 55px; /* ボタンの幅 */
  height: 55px; /* ボタンの高さ */
  border-radius: 50%; /* 角丸を50%にして丸くする */
  background-color: $color-bg-sub; /* 背景色を白に */
  color: #333; /* 文字色を黒に近い色に */
  text-align: center; /* テキストを中央揃え */
  line-height: 40px; /* 行の高さをボタンの高さに合わせる */
  font-size: 12px; /* フォントサイズ */
}
